.Rproj.user/
.Rhistory
.Rapp.history
.RData
.Ruserdata

.DS_Store

*.o
*.so
*.dll
*.exe
*.out

renv/library/
renv/python/
renv/staging/

.Rcheck/
*.tar.gz

.vscode/
*.code-workspace

docs/
_site/

node_modules/

# Test artifacts
testthat.Rout*
*.Rproj
/doc/
/Meta/
